@use "sass:color";


@mixin light-theme() {
  --bodyBG: var(--blue-50);
  --mainTitleColor:var(--black);
  --subLabelColor:var(--gray-800);

  --activeColorBg:var(--white);
  --activeColorBg_2:var(--white);

  --activeColor:var(--color-primary);
  --colorBlack:var(--black);

  --shadowColor1:var(--blue-100);
  
}

@mixin dark-theme() {
  --bodyBG: var(--darker-blue);
  --mainTitleColor:var(--gray-400);
  --subLabelColor:var(--gray-600);
  
  --activeColorBg:var(--gray-600);
  --activeColorBg_2:var(--color-primary);
  
  --activeColor:var(--white);
  --colorBlack:var(--gray-50);

  --shadowColor1:var(--blue-200);
}
:root {
  // Brand Colors
  --color-primary: #1eb6ff;
  --color-secondary: #fc731f;

  // Blue
  --blue-200:   #606c87;
  --blue-100:  #a5c5db;
  --blue-50: #e9f6ff;
  // Gray Scale
  --gray-50: #f9f9f9;
  --gray-100: #f0f0f0;
  --gray-200: #e0e0e0;
  --gray-300: #d0d0d0;
  --gray-400: #c0c0c0;
  --gray-500: #b0b0b0;
  --gray-600: #a0a0a0;
  --gray-700: #909090;
  --gray-800: #707070;
  --gray-900: #404040;
  // White
  --white: #ffffff;
  --black: #000000;
  --darker-blue: #0F172A;

  // token color variables
  @include light-theme();
}


:root{
  &.dark-mode {
    // color-scheme: dark;
    @include dark-theme();
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    @include dark-theme();
  }
}
